package {{ package_name }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;

@SpringBootApplication
@ComponentScan(basePackages = "com.daycaremanagement")
public class {{ class_name }} {

    public static void main(String[] args) {
        SpringApplication.run({{ class_name }}.class, args);
    }
    
    // Logic fragment from factory is ignored here to maintain stability.
}