@use '@angular/material' as mat;

/* Core */
@include mat.core();

/* Paletas */
$primary: mat.define-palette(mat.$blue-palette);
$accent: mat.define-palette(mat.$cyan-palette);
$warn: mat.define-palette(mat.$red-palette);

/* Tema oscuro */
$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  density: 0
));

/* Aplicar tema */
@include mat.all-component-themes($theme);